<div>
  <mat-form-field *ngIf="filter">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table
      matSort
      mat-table
      matTableExporter
      #exporter="matTableExporter"
      [dataSource]="dataSource"
      [hiddenColumns]="columnsHidden"
      class="mat-elevation-z8"
    >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            *ngIf="multipleSelected; else elseMultiple"
            (change)="$event ? masterToggle() : null"
            (change)="selectAll($event)"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
          <ng-template #elseMultiple>
            {{ select_one | translate }}
          </ng-template>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            *ngIf="selectedItem"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            (change)="selectItem(row, $event)"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Column -->
      <ng-container
        *ngFor="let col of objectKeys(columnHeader)"
        matColumnDef="{{ col }}"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="!order || reserverCol(columnHeader[col])"
        >
          {{ columnHeader[col] | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            *ngIf="reserverCol(columnHeader[col]); else elseReservedCol"
            (click)="actionTable(element, columnHeader[col])"
            style="cursor: pointer"
          >
            {{ textActionTable(columnHeader[col]) }}
          </mat-icon>
          <ng-template #elseReservedCol> {{ element[col] }}</ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="(noData | async) && !isLoading" class="no-records">
      {{ "grid.no_records" | translate }}
    </div>

    <div
      *ngIf="isLoading"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
      "
    >
      <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        [diameter]="30"
      >
      </mat-progress-spinner>
    </div>

    <mat-toolbar>
      <mat-toolbar-row>
        <div *ngIf="export">
          <button
            *ngFor="let type of typesExport"
            class="{{ type }}"
            mat-button
            (click)="exporter.exportTable(type)"
          >
            Exportar a {{ type }}
          </button>
        </div>
        <span class="spacer"></span>
        <mat-paginator
          *ngIf="paginationSizes.length > 0"
          [pageSizeOptions]="paginationSizes"
          [pageSize]="defaultPageSize"
          showFirstLastButtons
        ></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
