@import "~@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: "Poppins, monospace",
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(32px, 48px, 700),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $body-1: mat-typography-level(16px, 24px, 500),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(14px, 24px, 500),
  $button: mat-typography-level(14px, 14px, 500),
  $input: mat-typography-level(14px, 1.25, 400),
  $caption: mat-typography-level(12px, 20px, 400),
);

@include mat-core($custom-typography);
$proyect-app-primary: mat-palette($mat-red, 900);
$proyect-app-accent: mat-palette($mat-purple, 400);
$proyect-app-warn: mat-palette($mat-yellow, 800);

$proyect-app-theme: mat-light-theme(
  (
    color: (
      primary: $proyect-app-primary,
      accent: $proyect-app-accent,
      warn: $proyect-app-warn,
    ),
  )
);

@include angular-material-theme($proyect-app-theme);

$primary: mat-color($proyect-app-primary);
$primary-A: mat-color(mat-palette($mat-cyan, 900));
$primary-B: mat-color(mat-palette($mat-cyan, 600));
$accent: mat-color($proyect-app-accent);
$secondary-A: mat-color(mat-palette($mat-red, A100));
$secondary-B: mat-color(mat-palette($mat-red, 50));
$secondary-C: mat-color(mat-palette($mat-teal, 700));
$secondary-D: mat-color(mat-palette($mat-blue-grey, 500));
$warn: mat-color($proyect-app-warn);
