.div-icon {
  display: flex;
  align-items: center;
}

.text {
  padding: 1px 5px;
  flex: 1;
  text-align: center;
  font-size: 1.1em;
}

.iconoBlanco {
  color: aliceblue;
}

button {
  min-width: 2rem;
  min-height: 2.5rem;
}

.stroked-btn {
  border: 2px solid #212121;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: inline-block;
  position: relative;
}

//////////////////@at-root
div {
  display: flex;
  align-items: center;
}

.stroked-btn {
  border: 2px solid #212121;
}
