<mat-sidenav-container id="container" fullscreen>
  <mat-sidenav
    #sidenav
    role="navigation"
    mode="over"
    [class.mat-elevation-z4]="true"
    opened="false"
  >
    <mat-nav-list dense>
      <div>
        <img src="./assets/nest.png" class="logo-nav" />
      </div>
      <mat-accordion>
        <div>
          <app-sidenav-item
            [item]="item"
            *ngFor="let item of navItems"
            (sidenavToggle)="sidenav.toggle()"
          ></app-sidenav-item>
        </div>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
      <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
