<div class="container mt-2">
  <h1>{{ "dashboard.title" | translate }}</h1>
</div>

<div class="container mt-4">
  <hr />
  <div fxLayout="row">
    <div fxLayout="column " fxFlex>
      <h3><strong>Ejemplos de Botones</strong></h3>
    </div>
  </div>
  <br />
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <app-button
      [color]="ButtonColors.PRIMARY"
      [displayType]="ButtonTypes.RAISED"
      [text]="'ejemplo de boton'"
      rightIcon="add"
    ></app-button>

    <app-button
      [color]="ButtonColors.ACCENT"
      [displayType]="ButtonTypes.RAISED"
      [text]="'ejemplo de boton'"
      leftIcon="add"
    ></app-button>

    <app-button
      [color]="ButtonColors.WARN"
      [displayType]="ButtonTypes.FAB"
      icon="add"
    ></app-button>
  </div>

  <div>
    <hr />
    <mat-divider></mat-divider>
    <div class="row mt-5">
      <div class="col-12">
        <h3><strong>Ejemplo de Tabla</strong></h3>
      </div>
    </div>
    <hr />
    <div fxLayout="row">
      <div fxLayout="column " fxFlex>
        <app-table
          [tableData]="exampleTableData$"
          [columnHeader]="exampleColumns"
          [export]="true"
          [hiddenColumns]="[6]"
        ></app-table>
      </div>
    </div>
    <hr />
  </div>
</div>
